<header class="site-header">
  <div class="header-inner">
    <a class="logo" href="/">{{ shop.name }}</a>

    <nav class="main-nav">
      <a href="/">ホーム</a>
      <a href="/collections/all">商品</a>
      <a href="/cart">カート</a>
    </nav>
  </div>
</header>